<%= form_with(model: form, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :tag_names %>
    <%= form.text_area :tag_names %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
